{% extends "./adminLayout.html" %}
{% block body %}
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <section id="banner">
                <div class="content">
                    <div class="row 200%">
                        <form id="editProductForm" method="post" enctype="multipart/form-data" style="width: 100%">
                            <input type="hidden" value="{{ product.id }}" id="productId">
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <label for="name">产品名称 <span class="sub-warning" id="nameWarning">注意:产品名称必须填写</span>
                                    </label>
                                    <input type="text" name="name" id="name" value="{{ product.name }}"/>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label for="property">所属分类</label>
                                    <div class="select-wrapper">
                                        <select name="property_id" id="property">
                                            {% for property in properties %}
                                            <option value="{{ property.id }}" {% if
                                                    property.id=== product.property_id %}selected{% endif %}>{{
                                                property.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label for="category">所属分类</label>
                                    <div class="select-wrapper">
                                        <select name="category_id" id="category">
                                            {% for category in categories %}
                                            <option value="{{ category.id }}" {% if category.id=== product.category_id
                                                    %}selected{% endif %}>{{category.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label for="tbUrl">淘宝地址</label>
                                    <input type="text" name="tbUrl" id="tbUrl" value="{{ product.tbUrl }}"/>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label for="imgMainSrc">上传主图片</label>
                                    <p class="sub-info">为保证主图片美观,建议上传1280 × 416的图片</p>
                                    <input type="file" id="imgMainSrc" name='imgMainSrc'/>
                                    <p class="sub-warning imgWarning">注意:只能上传图片类型</p>
                                </div>
                                <div style="width: 100%">
                                    <label>详情页图片上传</label>
                                    <p class="sub-info">为保证详情页图片整齐,建议上传416 × 256的图片</p>
                                </div>
                                <div class="row">
                                    <div class="6u 12u$(xsmall)">
                                        <label for="imgFirstSrc">上传详情页第一张图片</label>
                                        <input type="file" id="imgFirstSrc" name='imgFirstSrc'/>
                                        <p class="sub-warning imgWarning">注意:只能上传图片类型</p>
                                    </div>
                                    <div class="6u 12u$(xsmall)">
                                        <label for="imgSecondSrc">上传详情页第二张图片</label>
                                        <input type="file" id="imgSecondSrc" name='imgSecondSrc'/>
                                        <p class="sub-warning imgWarning">注意:只能上传图片类型</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="6u 12u$(xsmall)">
                                        <label for="imgThirdSrc">上传详情页第三张图片</label>
                                        <input type="file" id="imgThirdSrc" name='imgThirdSrc'/>
                                        <p class="sub-warning imgWarning">注意:只能上传图片类型</p>
                                    </div>
                                    <div class="6u 12u$(xsmall)">
                                        <label for="imgFourthSrc">上传详情页第四张图片</label>
                                        <input type="file" id="imgFourthSrc" name='imgFourthSrc'/>
                                        <p class="sub-warning imgWarning">注意:只能上传图片类型</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row uniform">
                                <div class="12u$">
                                    <input type="checkbox" id="show" name="show" {% if product.isShow=== 1
                                           %}checked{% endif %}>
                                    <label for="show">是否显示在主页</label>
                                    <input type="hidden" id="isShow" name="isShow"
                                           value="{% if product.isShow === 1 %}1{% else %}0{% endif %}"/>
                                </div>
                            </div>
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <label for="imgFirstIntroduction">详情页图片1介绍</label>
                                    <textarea name="imgFirstIntroduction" id="imgFirstIntroduction" rows="6">{{ product.imgFirstIntroduction }}</textarea>
                                </div>
                                <div class="6u$ 12u$(xsmall)">
                                    <label for="imgSecondIntroduction">详情页图片2介绍</label>
                                    <textarea name="imgSecondIntroduction" id="imgSecondIntroduction" rows="6">{{ product.imgSecondIntroduction }}</textarea>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label for="imgThirdIntroduction">详情页图片3介绍</label>
                                    <textarea name="imgThirdIntroduction" id="imgThirdIntroduction" rows="6">{{ product.imgThirdIntroduction }}</textarea>
                                </div>
                                <div class="6u$ 12u$(xsmall)">
                                    <label for="imgFourthIntroduction">详情页图片4介绍</label>
                                    <textarea name="imgFourthIntroduction" id="imgFourthIntroduction" rows="6">{{ product.imgFourthIntroduction }}</textarea>
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <label for="sortIntroduction">产品简介</label>
                                    <textarea name="sortIntroduction" id="sortIntroduction" rows="6">{{ product.sortIntroduction }}</textarea>
                                </div>
                                <div class="6u$ 12u$(xsmall)">
                                    <label for="introduction">产品介绍</label>
                                    <textarea name="introduction" id="introduction"
                                              rows="6">{{ product.introduction }}</textarea>
                                </div>
                            </div>
                            <div class="row uniform">
                                <div class="12u$">
                                    <ul class="actions">
                                        <li><input type="button" value="修改产品" class="special" id="submit"/></li>
                                        <li><input type="reset" id="reset" value="重置"/></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="/js/product.js"></script>
{% endblock %}
