<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>菜单</h2>
            </header>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/admin/company">公司相关修改</a></li>
                <li><a href="/admin/product">产品相关修改</a></li>
            </ul>
        </nav>
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ company.copyright }}</p>
        </footer>
    </div>
</div>
