<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>菜单</h2>
            </header>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/admin/user">用户相关修改</a></li>
                <li><a href="/admin/body">主页相关修改</a></li>
                <li><a href="/admin/company">公司相关修改</a></li>
                <li>
                    <span class="opener">产品相关修改</span>
                    <ul>
                        <li><a href="/admin/addProduct">添加产品</a></li>
                        <li><a href="/admin/searchProduct/1">查询产品</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ company.copyright }}</p>
        </footer>
    </div>
</div>
