{% extends "./adminLayout.html" %}
{% block body %}
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <section id="banner">
                <div class="content">
                    <div class="row 200%">
                        <form method="post" id="userForm" enctype="multipart/form-data" style="width: 100%">
                            <div class="row uniform">
                                <div class="9u">
                                    <label for="name">用户名 <span class="sub-warning" id="nameWarning">注意:用户名必须填写</span></label>
                                    <input type="text" name="name" id="name"/>
                                </div>
                                <div class="9u">
                                    <label for="password">密码 <span class="sub-warning" id="passwordWarning">注意:用户密码必须填写</span></label>
                                    <input type="password" name="password" id="password"/>
                                </div>
                                <div class="9u">
                                    <label for="re-password">重复密码 <span class="sub-warning" id="rePasswordWarning">注意:重复用户密码必须填写</span></label>
                                    <input type="password" name="rePassword" id="re-password"/>
                                </div>
                            </div>
                            <div class="row uniform">
                                <div class="9u">
                                    <ul class="actions">
                                        <li><input type="button" id="submit" value="修改用户" class="special"/></li>
                                        <li><input type="reset" value="重置"/></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="/js/md5.min.js"></script>
<script src="/js/user.js"></script>
{% endblock %}
