{% extends "layout.html" %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h1>{{ company.name }}</h1>
                        <p>{{ company.sortIntroduction }}</p>
                    </header>
                    <p>{{ company.introduction }}</p>
                    <ul class="actions">
                        <li><a href="#" class="button big">了解更多</a></li>
                    </ul>
                </div>
                <span class="image object">
                    <img src="/images/pic01.jpg" alt=""/>
                </span>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>产品分类</h2>
                </header>
                <div class="features">
                    {% for category in categories %}
                    <article>
                        <span class="icon fa-diamond"></span>
                        <div class="content">
                            <h3>{{ category.name }}</h3>
                            <p>{{ category.introduction }}</p>
                            <a href="/category/{{ category.id }}" class="button">了解更多</a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>爆款标题</h2>
                </header>
                <div class="posts">
                    {% for faddish in faddish %}
                    <article>
                        <a href="/faddish/{{ faddish.id }}" class="image"><img src="/images/pic01.jpg" alt=""/></a>
                        <h3>{{ faddish.name }}</h3>
                        <p>{{ faddish.sortIntroduction }}</p>
                        <ul class="actions">
                            <li><a href="#" class="button">了解更多</a></li>
                        </ul>
                    </article>
                    {% endfor %}
                </div>
            </section>
            <section>
                <header class="major">
                    <h2>上新标题</h2>
                </header>
                <div class="posts">
                    {% for fresh in fresh %}
                    <article>
                        <a href="/fresh/{{ fresh.id }}" class="image"><img src="/images/pic05.jpg" alt=""/></a>
                        <h3>{{fresh.name}}</h3>
                        <p>{{ fresh.sortIntroduction }}</p>
                        <ul class="actions">
                            <li><a href="#" class="button">了解更多</a></li>
                        </ul>
                    </article>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% include "sidebar.html" %}

{% endblock %}
