{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="/css/slider-pro.min.css">
{% endblock %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!--slider-->
            <section class="slider-pro" id="my-slider">
                <div class="sp-slides">
                    <div class="sp-slide">
                        <a target="_blank" href="{{ body.firstActivityTbSrc }}">
                            <img class="sp-image" src="{{ body.firstActivitySrc }}"
                                 data-src="{{ body.firstActivitySrc }}"
                                 data-retina="{{ body.firstActivitySrc }}"/>
                        </a>
                    </div>
                    <div class="sp-slide">
                        <a target="_blank" href="{{ body.secondActivityTbSrc }}">
                            <img class="sp-image" src="{{ body.secondActivitySrc }}"
                                 data-src="{{ body.secondActivitySrc }}"
                                 data-retina="{{ body.secondActivitySrc }}"/>
                        </a>
                    </div>
                    <div class="sp-slide">
                        <a target="_blank" href="{{ body.thirdActivityTbSrc }}">
                            <img class="sp-image" src="{{ body.thirdActivitySrc }}"
                                 data-src="{{ body.thirdActivitySrc }}"
                                 data-retina="{{ body.thirdActivitySrc }}"/>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Banner -->
            <section id="banner">
                <div class="content">
                    <header>
                        <h1>{{ company.name }}</h1>
                        <p>{{ company.sortIntroduction }}</p>
                    </header>
                    <p>{{ company.introduction }}</p>
                    <ul class="actions">
                        <li><a href="/company" class="button big">了解更多</a></li>
                    </ul>
                </div>
                <span class="image object">
                    <img src="{{ company.companyMainSrc }}" alt=""/>
                </span>
            </section>
            <!-- Section -->
            <section>
                <header class="major">
                    <h2>产品分类</h2>
                </header>
                <div class="features">
                    {% for category in categories %}
                    <article>
                        <span class="icon fa-diamond"></span>
                        <div class="content">
                            <h3>{{ category.name }}</h3>
                            <p>{{ category.introduction }}</p>
                            <a href="/more/category/{{ category.id }}" class="button">了解更多</a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </section>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>{{ properties[0]['name'] }}</h2>
                </header>
                <div class="posts">
                    {% for faddish in faddish %}
                    <article>
                        <a href="/product/{{ faddish.id }}" class="image"><img src="{{ faddish.imgFirstSrc }}" alt=""/></a>
                        <h3>{{ faddish.name }}</h3>
                        <p>{{ faddish.sortIntroduction }}</p>
                        <ul class="actions">
                            <li><a href="/product/{{ faddish.id }}" class="button">了解更多</a></li>
                        </ul>
                    </article>
                    {% endfor %}
                </div>
            </section>
            <section>
                <header class="major">
                    <h2>{{ properties[1]['name'] }}</h2>
                </header>
                <div class="posts">
                    {% for fresh in fresh %}
                    <article>
                        <a href="/product/{{ fresh.id }}" class="image"><img src="{{ fresh.imgFirstSrc }}" alt=""/></a>
                        <h3>{{fresh.name}}</h3>
                        <p>{{ fresh.sortIntroduction }}</p>
                        <ul class="actions">
                            <li><a href="/product/{{ fresh.id }}" class="button">了解更多</a></li>
                        </ul>
                    </article>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="/js/jquery.sliderPro.min.js"></script>
<script src="/js/body.js"></script>
{% endblock %}
