{% extends "layout.html" %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Content -->
            <h3>{{ category.name }}</h3>
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    {% for belongCategory in belongCategories %}
                    {% if (loop.index % 2 ===0) %}
                    <p class="clearfix">
                        <span class="image left">
                            <a href="/{{belongCategory['property.type']}}/{{belongCategory.id}}">
                                <img src="/images/pic01.jpg" alt=""/>
                            </a>
                        </span>
                        {{belongCategory.introduction }}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="6u 12u$(medium)">
                    {% for belongCategory in belongCategories %}
                    {% if (loop.index % 2 !==0) %}
                    <p class="clearfix">
                        <span class="image left">
                            <a href="/{{belongCategory['property.type']}}/{{belongCategory.id}}">
                                <img src="/images/pic01.jpg" alt=""/>
                            </a>
                        </span>
                        {{belongCategory.introduction }}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "sidebar.html" %}
{% endblock %}
