{% extends "layout.html" %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Content -->
            <h3>title</h3>
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <p><span class="image left"><img src="/images/pic01.jpg" alt=""/></span>Lorem ipsum dolor sit
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum
                        primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent.</p>

                </div>
                <div class="6u 12u$(medium)">
                    <p><span class="image left"><img src="/images/pic02.jpg" alt=""/></span>Lorem ipsum dolor sit
                        accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante
                        ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus
                        euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum
                        primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu faucibus. Integer ac pellentesque praesent.</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% include "sidebar.html" %}
{% endblock %}
