{% extends "layout.html" %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>公司简介</h1>
                </header>

                <span class="image main"><img src="/images/pic11.jpg" alt=""/></span>

                <p>{{ company.introduction }}</p>

                <hr class="major"/>

                <h2>公司实力</h2>
                <p>{{ company.power }}</p>

                <hr class="major"/>

                <h2>公司文化</h2>
                <p>{{ company.culture }}</p>

                <hr class="major"/>

                <h2>公司员工</h2>
                <p>{{ company.staff }}</p>

            </section>
        </div>
    </div>
</div>
{% endblock %}
