{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>
<link rel="stylesheet" href="/css/map.css">
{% endblock %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>公司简介</h1>
                </header>

                <span class="image main"><img src="{{ company.companySrc }}" alt=""/></span>

                <p>{{ company.introduction }}</p>

                <hr class="major"/>
                {% if company.power %}
                <h2>终端形象</h2>
                <p>{{ company.power }}</p>
                <hr class="major"/>
                {% endif %}
                {% if company.culture %}
                <h2>公司文化</h2>
                <p>{{ company.culture }}</p>
                {% endif %}
                <hr class="major"/>
                {% if company.staff %}
                <h2>公司员工</h2>
                <p>{{ company.staff }}</p>
                <hr class="major"/>
                {% endif %}
                <h2>公司位置</h2>
                <div id="allmap"></div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="/js/map.js"></script>
{% endblock %}
