<header id="header">
    <a href="/" class="logo"><strong>{{ company.name }}</strong></a>
    <ul class="icons">
        <li class="icon-li">
            <a href="{{ company.tbUrl }}" target="_blank" class="iconfont icon-taobao">
                <span class="label">淘宝</span>
            </a>
            <img class="qr-code" src="/images/wechat.png" alt="">
        </li>
        <li class="icon-li">
            <a href="{{ company.wechatUrl }}" target="_blank" class="fa fa-weixin" style="font-size: 16px;border-bottom: none;">
                <span class="label">微商城</span>
            </a>
            <img class="qr-code" src="/images/taobao.png" alt="">
        </li>
    </ul>
</header>
