{% extends "layout.html" %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Content -->
            {% if category %}
            <h3>{{ category.name }}</h3>
            {% else %}
            <h3>{{ getMore[0]['property.name'] }}</h3>
            {% endif %}
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    {% for more in getMore %}
                    {% if (loop.index % 2 !==0) %}
                    <p class="clearfix">
                        <span class="image left">
                            <a href="/product/{{more.id}}">
                                <img src="{{ more.imgFirstSrc }}" alt=""/>
                            </a>
                        </span>
                        {{more.introduction }}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="6u 12u$(medium)">
                    {% for more in getMore %}
                    {% if (loop.index % 2 ===0) %}
                    <p class="clearfix">
                        <span class="image left">
                            <a href="/product/{{more.id}}">
                                <img src="{{ more.imgFirstSrc }}" alt=""/>
                            </a>
                        </span>
                        {{more.introduction }}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
