{% extends "layout.html" %}
{% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            {% include "header.html" %}
            <!-- Content -->
            <section>
                <header class="main">
                    <h1>
                        {{ name }}
                    </h1>
                </header>

                <a href="{{ tbUrl }}" target="_blank"><span class="image main"><img src="{{ imgMainSrc }}" alt=""/></span></a>

                <p>{{ sortIntroduction }}</p>
                <p>{{ introduction }}</p>

                <hr class="major"/>
                <h2>详情</h2>
                {% if imgFirstSrc %}
                <p class="clearfix">
                    <span class="image left"><img src="{{ imgFirstSrc }}" alt=""/></span>
                    {{ imgFirstIntroduction }}
                </p>
                <hr class="major"/>
                {% endif %}
                {% if imgSecondSrc %}
                <p class="clearfix">
                    <span class="image right"><img src="{{ imgSecondSrc }}" alt=""/></span>
                    {{ imgSecondIntroduction }}
                </p>
                <hr class="major"/>
                {% endif %}
                {% if imgThirdSrc %}
                <p class="clearfix">
                    <span class="image left"><img src="{{ imgThirdSrc }}" alt=""/></span>
                    {{ imgThirdIntroduction }}
                </p>
                <hr class="major"/>
                {% endif %}
                {% if imgFourthSrc %}
                <p class="clearfix">
                    <span class="image right"><img src="{{ imgFourthSrc }}" alt=""/></span>
                    {{ imgFourthIntroduction }}
                </p>
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
