<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>菜单</h2>
            </header>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/company">公司</a></li>
                <li>
                    <span class="opener">{{ faddishTitle }}</span>
                    <ul>
                        <li><a href="/faddish/1">{{ faddish1 }}</a></li>
                        <li><a href="/faddish/2">{{ faddish2 }}</a></li>
                        <li><a href="/faddish/3">{{ faddish3 }}</a></li>
                        <li><a href="/faddish/4">{{ faddish4 }}</a></li>
                        <li><a href="#">了解更多</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">{{ freshTitle }}</span>
                    <ul>
                        <li><a href="/fresh/1">{{ fresh1 }}</a></li>
                        <li><a href="/fresh/2">{{ fresh2 }}</a></li>
                        <li><a href="/fresh/3">{{ fresh3 }}</a></li>
                        <li><a href="/fresh/4">{{ fresh4 }}</a></li>
                        <li><a href="#">了解更多</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>{{ mainTitle }}</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="/main/1" class="image"><img src="/images/pic07.jpg" alt=""/></a>
                    <p>{{ main1Introduction }}</p>
                </article>
                <article>
                    <a href="/main/2" class="image"><img src="/images/pic08.jpg" alt=""/></a>
                    <p>{{ main2Introduction }}</p>
                </article>
                <article>
                    <a href="/main/3" class="image"><img src="/images/pic09.jpg" alt=""/></a>
                    <p>{{ main3Introduction }}</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">了解更多</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>联系我们</h2>
            </header>
            <p>{{ companyIntroduction }}</p>
            <ul class="contact">
                <li class="fa-envelope-o"><a href="#">{{ companyEmail }}</a></li>
                <li class="fa-phone">{{ companyPhone }}</li>
                <li class="fa-home">{{ companyAddress }}</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; copyright</p>
        </footer>

    </div>
</div>
