<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>菜单</h2>
            </header>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/company">公司</a></li>
                <li>
                    <span class="opener">爆款标题</span>
                    <ul>
                        {% for faddish in faddish %}
                        <li><a href="/product/{{ faddish.id }}">{{ faddish.name }}</a></li>
                        {% endfor %}
                        <li><a href="/more/1">了解更多</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">上新标题</span>
                    <ul>
                        {% for fresh in fresh %}
                        <li><a href="/product/{{ fresh.id }}">{{ fresh.name }}</a></li>
                        {% endfor %}
                        <li><a href="/more/2">了解更多</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>主推标题</h2>
            </header>
            <div class="mini-posts">
                {% for main in main %}
                <article>
                    <a href="/product/{{ main.id }}" class="image"><img src="{{ main.imgFirstSrc }}" alt=""/></a>
                    <p>{{ main.sortIntroduction }}</p>
                </article>
                {% endfor %}
            </div>
            <ul class="actions">
                <li><a href="/more/3" class="button">了解更多</a></li>
            </ul>
        </section>
        <!-- Section -->
        <section>
            <header class="major">
                <h2>联系我们</h2>
            </header>
            <p>{{ introduction }}</p>
            <ul class="contact">
                <li class="fa-envelope-o">{{ company.email }}</li>
                <li class="fa-phone">{{ company.phone }}</li>
                <li class="fa-home">{{ company.address }}</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ company.copyright }}</p>
        </footer>

    </div>
</div>
