#allmap {
    width: 90%;
    height: 25rem;
    overflow: hidden;
    margin-bottom: 4rem;
    font-family: "Microsoft YaHei";
    position: absolute;
}

input[type="text"] {
    height: 1.75em;
    display: inline-block;
}

input[type="button"] {
    padding: 0;
}

dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dt {
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    border-bottom: 1px dotted #000;
    padding: 5px 0 5px 5px;
    margin: 5px 0;
}

dd {
    padding: 5px 0 0 5px;
}

li {
    line-height: 28px;
}

table td {
    min-width: 8rem;
}

table {
    border-collapse: separate;
    margin: 0;
}

.BMapLib_nav_tab_content li {
    padding: 0;
}
